@* @model FireCodingDesign.Models.AdministrationModel *@
@model FireCodingDesign.Models.ShareDataModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Administration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdentityUserAndRoleList.FirstOrDefault().Id" />
            <span asp-validation-for="IdentityUserAndRoleList.FirstOrDefault().Id" class="text-danger"></span>

            <div class="form-group">
                @* <label asp-for="IdentityUserAndRoleList.FirstOrDefault().UserId" class="control-label"></label> *@
                <input type="hidden" asp-for="IdentityUserAndRoleList.FirstOrDefault().UserId" class="form-control" />
                <span asp-validation-for="IdentityUserAndRoleList.FirstOrDefault().UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentityUserAndRoleList.FirstOrDefault().UserName" class="control-label"></label>
                <input disabled="true" asp-for="IdentityUserAndRoleList.FirstOrDefault().UserName" class="form-control" />
                <span asp-validation-for="IdentityUserAndRoleList.FirstOrDefault().UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentityUserAndRoleList.FirstOrDefault().FirstName" class="control-label"></label>
                <input asp-for="IdentityUserAndRoleList.FirstOrDefault().FirstName" class="form-control" />
                <span asp-validation-for="IdentityUserAndRoleList.FirstOrDefault().FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentityUserAndRoleList.FirstOrDefault().LastName" class="control-label"></label>
                <input asp-for="IdentityUserAndRoleList.FirstOrDefault().LastName" class="form-control" />
                <span asp-validation-for="IdentityUserAndRoleList.FirstOrDefault().LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentityUserAndRoleList.FirstOrDefault().Email" class="control-label"></label>
                <input asp-for="IdentityUserAndRoleList.FirstOrDefault().Email" class="form-control" />
                <span asp-validation-for="IdentityUserAndRoleList.FirstOrDefault().Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentityUserAndRoleList.FirstOrDefault().Mobile" class="control-label"></label>
                <input asp-for="IdentityUserAndRoleList.FirstOrDefault().Mobile" class="form-control" />
                <span asp-validation-for="IdentityUserAndRoleList.FirstOrDefault().Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentityUserAndRoleList.FirstOrDefault().DepartmentId" class="control-label"></label>
                <select asp-for="IdentityUserAndRoleList.FirstOrDefault().Departments.DepartmentName" class="form-control" asp-items="ViewBag.Departments"></select>
                <span asp-validation-for="IdentityUserAndRoleList.FirstOrDefault().DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentityUserAndRoleList.FirstOrDefault().Role" class="control-label"></label>
                <select asp-for="IdentityUserAndRoleList.FirstOrDefault().Role" asp-items='new SelectList(Model.IdentityUserAndRoleList.FirstOrDefault().Roles, "Name", "Name")' class="form-control"></select>
                <span asp-validation-for="IdentityUserAndRoleList.FirstOrDefault().Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
