@model FireCodingDesign.Models.WorkOrder
@* @model IEnumerable<FireCodingDesign.Models.WorkOrder> *@

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Workorder</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form method="post" enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="8"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDoneDate" class="control-label"></label>
                <input asp-for="OrderDoneDate" class="form-control" />
                <span asp-validation-for="OrderDoneDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" readonly="readonly"></>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
            @if (Model.ImageData != null)
            {
                <img src="data:image/png;base64,@Convert.ToBase64String(Model.ImageData)" alt="Full Image" />
                <input type="hidden" asp-for="ImageContentType" class="form-control" readonly="readonly" />
                <input type="hidden" asp-for="ImageData" />
            }
        </form>

        <script>
            function previewImage(input) {
                var preview = document.getElementById('imagePreview');
                var file = input.files[0];
                var reader = new FileReader();

                reader.onloadend = function () {
                    preview.src = reader.result;
                    preview.style.display = 'block';
                };

                if (file) {
                    reader.readAsDataURL(file);
                } else {
                    preview.src = '';
                    preview.style.display = 'none';
                }
            }
        </script>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

